{% load static %}

  <div
    class="hero min-h-1/3 m-4 shadow rounded-2xl"
    style="background-image: url({% static 'img/hospital-ward.jpg' %});"
  >
    <div class="hero">
      <div class="hero-content text-center">
        <div class="m-w-16">
          <h1 class="mb-5 text-5xl font-semibold text-emerald-300">Overview</h1>
          {% include "partials/stats.html" %}
          <div class="m-4">
            <button class="btn btn-primary">More about XYZ</button>
          </div>
        </div>
      </div>
    </div>
  </div>
