{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src=" {% static 'img/heart-with-pulse.png' %}" alt="Logo" class="me-2">
      <strong class="text-success">Health Monitor</strong>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 align-items-start">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Alerts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings</a>
        </li>
      </ul>
      <div class="d-flex align-items-start ms-3">
        <img src="{% static 'img/user-male-circle.png' %}" alt="User" class="rounded-circle me-2" style="height: 30px;">
        <span class="text-muted">Dr. Smith</span>
      </div>
    </div>
  </div>
</nav>
