<div class="grid mx-auto container">
  <div class="shadow rounded-sm stats stats-vertical md:stats-horizontal max-md:px-9">
    <div class="stat">
      <div class="stat-title">Wards</div>
      <div class="stat-value">{{ no_of_wards }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Beds</div>
      <div class="stat-value text-semibold">{{ no_of_beds }}</div>
    </div>

    <div class="stat">
      <div class="stat-title">Total Patients</div>
      <div class="stat-value text-semibold">{{ no_of_patients }}</div>
    </div>
    <div class="stat">
      <div class="stat-title">Remotely monitored Patients</div>
      <div class="stat-value text-semibold">{{ monitored_patients }}</div>
    </div>
  </div>
</div>
