{% extends "layout/base.html" %}

{% block title %}Register Doctor{% endblock %}

{% block content %}
{% include "partials/nav.html" %}
<div class="flex flex-col justify-center items-center mx-auto p-8 mt-4">
    <div class="card rounded-2xl shadow-2xl p-8 mx-4 w-full max-w-lg">
        <h2 class="text-2xl font-semibold mb-6 text-center">Register Doctor Account</h2>
        {% if success_message %}
            <div class="alert alert-success mb-4">{{ success_message }}</div>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form.visible_fields %}
                <div class="mb-4">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary text-white w-full rounded-full">Register</button>
        </form>
    </div>
</div>
{% endblock %}
